Podfile.lock
/Pods
/Build
Evocto.xcworkspace/xcuserdata/kuvshinnikov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Evocto.xcworkspace/xcuserdata/kuvshinnikov.xcuserdatad/UserInterfaceState.xcuserstate
Evocto.xcodeproj/xcuserdata/kuvshinnikov.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store